<!DOCTYPE html>
<html>

<head>
    <!--- Fix resource paths. Using cdn right now. --->
    <style src="css/plugins/bootstrap.min.css"></style>
    <link rel="stylesheet" href="/css/index.css"/>
    <script type="text/javascript" src="js/BarChart.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div id="react"></div>
<script src="built/bundle.js"></script>

<script type="module">
</script>
</body>

</html>