.jeopardySquare {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.jeopardySquare > .row {

    background-color: royalblue;
    color: white;
}

.jeopardyRow {
    /*height:100vm; width:100vm; !* IE9 fallback *!*/
    /*width: 100vmin; height: 100vmin;*/
    margin-bottom: 5%;
}